div, h1, h2, h3, h4, p {
  margin: 0px;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
}

html, body {
  overflow: hidden;
}

.levelMenu h2 {
  color: black;
}

.instruction {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.instruction-body {
  width: 100%;
  margin-top: 20px;
  height: 100%;
  /*padding: 5px*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 4px;
}

.block-input {
  height: 10px;
  width: 5px;
  font-size: 8px;
  z-index: 10000;
  border: none;
}

input.block-input:focus {
  border: none;
  outline: none;
}

div.chooseLevel {
  display: flex;
  flex-direction: column;
  align-items: center;

}
html, body {
  width: 100%;
  height: 100%;
  /*background-color: #69B4A7;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('./assets/images/palettebackground.png');

  background-color: #247847;
}


body {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 5px;
  font-size: 14px;
  text-shadow: 0 0 10px black,
           0 0 20px  #69B4A7,
           0 0 30px  #69B4A7,
           0 0 40px  #69B4A7;
           /*0 0 30px  #fff,
           0 0 40px  #37598E,
           0 0 70px  #37598E,
           0 0 80px  #37598E,
           0 0 100px #37598E,
           0 0 150px #37598E;*/
}


#root {
  width: 94%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
  /*background-color: #ffffff;*/
  display: flex;
  justify-content: center;
  align-items: center

}

.main {
  width: 100%;
  height: 100%;
}

.chooseLevel {

}

.levelMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 70px;

}



.levelContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.level {

  display: inherit;
  flex-direction: column;
}

.levelStages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.instructionWidget {
  width: 100%;
}
.levelWidget {
  position: absolute;
  left: 100%;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.levelWidget-container{
  width: 100%;
  position: relative;
}
#workstationCanvas {
  height: 500px;
  width: 500px;
}
#gridCanvas {
  background-image: url('./assets/images/palettebackground.png');
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('./assets/images/palettebackground.png');
  height: 500px;
  width: 500px;

  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
}

select {

  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  font-size: 5px;
  font-family: 'Orbitron', sans-serif;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


}

.grid button, .workstation button {
  position: absolute;
  left: 40%;
  bottom: 20%;
  z-index: 400;
}

.workstation button {
  left: 26%;
}

.grid button.levelCompleted {
  font-size: 11px;
  width: 100px;
}

.grid h2{
  position: absolute;
  right: 10px;
  top: -31px;
  z-index: 400;
}
.grid button#reset {
  left: 33%;
  bottom: 20%;
  padding-right: 45px;
}

.grid button, .chooseLevel button, .next-btn button, .workstation button {
  background-color: #1abc9c;
  display: inline-block;
  border: none;
  border-radius: .3em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  color: black;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  line-height: 2.5;
  letter-spacing: 1px;
  padding: .5em 1em .75em;
  width: 50px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
.next-btn {
  display: flex;
  align-items: flex-start;
}

.next-btn button {
  line-height: 50px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  padding-left: 10px;
  color: black;
}
.grid button:active, .chooseLevel button:active, .next-btn button:active, .workstation button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
  margin-top: .25em;
  padding-bottom: .5em;
}


.grid button:hover, .chooseLevel button:hover, .workstation button:hover {
  color: #fff;
}
.grid button:focus, .chooseLevel button:focus, .next-btn button:focus, .workstation button:focus {
  outline: none;
}

select:focus {
  border: none;
  outline: none;
}
.workstation {
  /*background-color: #cbefe9;*/
  /*background-size: cover;
  background-repeat: no-repeat;
  /*background-color: rgba(0,0,0,0.5);*/
  /*background-color: black;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%), url('./assets/images/this.jpg');*/
  background-image: url('./assets/images/palettebackground.png');
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url('./assets/images/palettebackground.png');
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
  border-radius: 8px;
  height: 500px;

}

.workstation input{
  font-size: 7px;
  text-align: center;
  background-color: #f4dc95;
  font-family: 'Orbitron', sans-serif;
}

#levelCompleted {
  left: 100px;
}

.workstation input:focus{
   outline-width: 0;
}
.paletteContainer {
 flex: 0.5;
}

.palette {
  flex: 2;
}

.editor {
  height: 100%;
  border: 1px solid red;
}

.instructor-robot {
  background-image: url('./assets/images/robot-helper.png');
  height: 90px;
  width: 70px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.tip-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin-left: 30px;
}

.tip-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.tip-body p {
  color: #fff;

  font-size: 24px;
  text-shadow: 0 0 10px black,
           0 0 20px  #69B4A7,
           0 0 30px  #69B4A7,
           0 0 40px  #69B4A7;
}

.tip-body h3 {
  color: #F4D03F;

  font-size: 36px;
  text-shadow: 0 0 10px black,
           0 0 20px  #69B4A7,
           0 0 30px  #69B4A7,
           0 0 40px  #69B4A7;
}
.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.3
}
