div, h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
  font-family: 'Audiowide', cursive;
}

.levelMenu h2 {
  color: black;
}

.block-input {
  height: 10px;
  width: 5px;
  font-size: 8px;
  z-index: 10000;
  border: none;
}

input.block-input:focus {
  border: none;
  outline: none;
}


html, body {
  width: 100%;
  height: 100%;
  background-color: #69B4A7;
}

body {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 5px;
  font-size: 14px;
  text-shadow: 0 0 10px black,
           0 0 20px  #69B4A7,
           0 0 30px  #69B4A7,
           0 0 40px  #69B4A7;
           /*0 0 30px  #fff,
           0 0 40px  #37598E,
           0 0 70px  #37598E,
           0 0 80px  #37598E,
           0 0 100px #37598E,
           0 0 150px #37598E;*/
}


#root {
  width: 94%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center

}

.main {
  width: 100%;
  height: 100%;
}

.chooseLevel {

}

.levelMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 70px;

}



.levelContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.level {
  width: 100%;
  display: inherit;
  flex-direction: column;
}

.levelWidget {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
#workstationCanvas {
  height: 500px;
  width: 500px;
}
#gridCanvas {
  background-image: url('./assets/images/palettebackground.png');
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('./assets/images/palettebackground.png');
  height: 500px;
  width: 500px;
  border: 3px solid white;
  border-radius: 8px;

}

select {

  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  font-size: 5px;
  font-family: 'Audiowide', cursive;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.grid button {
  position: absolute;
  left: -58px;
  top: 459px;
  z-index: 400;
}

.grid button.levelCompleted {
  font-size: 11px;
  width: 100px;
}

.grid h2{
  position: absolute;
  right: 10px;
  top: -31px;
  z-index: 400;
}
.grid button#reset {
  left: -126px;
  top: 459px;
  padding-right: 45px;
}

.grid button, .chooseLevel button {
  background-color: #1abc9c;
  display: inline-block;
  border: none;
  border-radius: .3em;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  color: black;
  cursor: pointer;
  font-family: 'Audiowide', cursive;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: .5em 1em .75em;
  width: 50px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.grid button:active, .chooseLevel button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
  margin-top: .25em;
  padding-bottom: .5em;
}


.grid button:hover, .chooseLevel button:hover {
  color: #fff;
}
.grid button:focus, .chooseLevel button:focus {
  outline: none;
}

select:focus {
  border: none;
  outline: none;
}
.workstation {
  background-color: #cbefe9;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 3px solid white;
  border-radius: 8px;
  height: 500px;
}

.workstation input{
  font-size: 7px;
  text-align: center;
  background-color: #f4dc95;
  font-family: 'Audiowide', cursive;
}

#levelCompleted {
  left: 100px;
}

.workstation input:focus{
   outline-width: 0;
}
.paletteContainer {
 flex: 0.5;
}

.palette {
  flex: 2;
}

.editor {
  height: 100%;
  border: 1px solid red;
}
