div, h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
  font-family: 'Audiowide', cursive;
}


html, body {
  width: 100%;
  height: 100%;
}


div {

}

#root {
  width: 100%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center

}

.main {
  width: 60%;
  height: 100%;
}

.chooseLevel {

}

.levelMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.levelMenu button {
  margin-right: 115px;

}
.levelContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.level {
  width: 100%;
  display: inherit;
  flex-direction: column;
}

.levelWidget {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#gridCanvas {
  background-image: url('./background2.jpg');
  background-size: cover;

  height: 350px;
  width: 350px;
  border: 3px solid gray;
  border-radius: 8px;
}

.grid {
  display: flex;
  flex-direction: flex-end;
  align-items: flex-end;

}

.grid button {
  position: absolute;
  z-index: 400;
  border: 1px solid black;
}
.grid, .workstation {
  width: 50%;
  flex: 1;
}

.workstation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    border: 1px solid blue;
}
.paletteContainer {
 flex: 0.5;
}

.palette {
  flex: 2;
}

.editor {
  height: 100%;
  border: 1px solid red;
}
